@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  font-size: 16px;
}
body {
  --primary: #111821;
  --btn-active: rgba(189, 189, 189, 0.37);
  --secondary: #171f29;
  --navbar: #12181b;
  --text-clr: #fff;
  --clrnormal: rgb(65, 65, 65);
  --button: rgba(255, 255, 255, 0.1);
  margin: 0;
  padding: 0;
  background: var(--primary);
  transition: 0.2s ease;
}

body::-webkit-scrollbar {
  background: #000;
  width: 8px;
  transition: 0.3s ease;
}
body::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66);
  border-radius: 1000px;
}
html {
  scroll-behavior: smooth;
}
::selection {
  background: rgba(100, 25, 240, 0.35);
}
body * {
  color: var(--text-clr);
}
body.light {
  --navbar: #c7c7c7;
  --primary: #eee;
  --text-clr: #181818;
  --secondary: #c7c7c7;
  --btn-active: rgba(29, 29, 29, 0.37);
  --clrnormal: rgb(202, 202, 202);
  --button: rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.togglebtn {
  background: var(--secondary);
  padding: 1.2em 0.7em;
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--text-clr);
  cursor: pointer;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease;
}
.togglebtn:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, 0 0 0 3px var(--btn-active);
}
.main-wrapper {
  text-align: center;
  margin-top: 16vw;
  margin-bottom: 0;
  padding: 0;
}

.navbar {
  display: flex;
  width: 100%;
  margin: 0;
  background: var(--secondary);
  font-size: calc(1rem + 0.5vw);
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0.3em;
  box-shadow: rgba(29, 29, 29, 0.2) 0px 2px 8px 0px;
}
.nav-items {
  display: flex;
}
.nav-links {
  transition: 0.3s ease;
  position: relative;
  padding: 0.5em 0.3em;
}

.nav-links::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2.5px;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transform: scale(0);
  background: var(--text-clr);
  transition: 0.3s ease;
}
.nav-links:hover::after {
  transform: scale(1);
}

.logo {
  font-weight: bold;
  font-size: calc(1.2rem + 0.5vw);
}

.toggle {
  height: 22px;
  width: 28px;
  position: absolute;
  z-index: 1010100;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  right: 3%;
}
.bars {
  width: 100%;
  height: 2px;
  border-radius: 8px;
  background: var(--text-clr);
}
.nolink {
  transition: 0.3s ease;
  padding: 0.2em;
}

.main-wrapper h1 {
  font-size: 5rem;
  display: block;
  margin-bottom: 0;
  font-family: "Action Is", sans-serif;
  font-weight: normal;
  text-shadow: 3px 3px 0 var(--clrnormal), 3px -3px 0 var(--clrnormal),
    -3px 3px 0 var(--clrnormal), -3px -3px 0 var(--clrnormal),
    3px 0px 0 var(--clrnormal), 0px 3px 0 var(--clrnormal),
    -3px 0px 0 var(--clrnormal), 0px -3px 0 var(--clrnormal);
}
.brbm {
  width: 40%;
  height: 0.6px;
  opacity: 0.7;
  position: relative;
}
.brmbaf {
  height: 20px;
  width: 30px;
  transform: translate(-50%, -100%);
  position: relative;
  background: var(--primary);
  left: 50%;
  pointer-events: none;
  transition: 0.2s ease;
}

.about {
  margin: 0 auto;
  margin-top: -1rem;
  max-width: 550px;
  padding: 0 20px;
}
.main-section {
  min-height: 100vh;
}
.projects-section {
  min-height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.034);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 10px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 0 0 var(--clrnormal);
  grid-area: 1 / 1 / 2 / 2;
  transform: rotateZ(-90deg);
  text-align: center;
}
.project-info {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  padding: 5vw 5vh;
  max-width: 55vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.308) 0px 5px 15px;
  transition: 0.3s ease;
  background: rgba(255, 255, 255, 0.021);
  margin: 10px auto;
}
.project:hover {
  box-shadow: rgba(0, 0, 0, 0.308) 0px 5px 15px, 0 0 0 3px var(--btn-active);
  transform: scale(1.02);
}
.project-img img {
  max-height: 20vh;
  max-width: 20vw;
  pointer-events: none;
  user-select: none;
  border-radius: 4px;
  border: solid 3px rgba(0, 0, 0, 0.199);
}
.contact-section {
  margin-top: 10vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-section {
  align-items: center;
}

.button {
  background: var(--button);
  color: var(--text-clr);
  border: none;
  display: inline-block;
  border-radius: 4px;
  padding: 1.5em 2em;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: bold;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease;
  margin-top: 20vh;
}

.button:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  background-color: rgba(255, 255, 255, 0.15);
}
.contact-title {
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 3px 0 0 var(--clrnormal);
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
}
.footer-body {
  background: rgba(255, 255, 255, 0.034);
  padding: 0.6rem 1.5rem;
  padding-bottom: 2rem;
}
@media (max-width: 405px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    font-size: calc(0.6rem + 1vw);
  }
}

@media (max-width: 830px) {
  .projects-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 100%;
  }
  .project-title {
    grid-area: 1 / 1 / 2 / 2;
    transform: rotateZ(0deg);
    align-items: end;
  }
  .project-info {
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 0 auto;
  }
  .project {
    padding: 15vw 8vh;
  }
}
