

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --background-primary: #1c2029;
}
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
}
body {
    background: var(--background-primary);
    font-weight: bold;
    overflow: hidden;
}
#home {
    width: 100%;
    height: 100vh;
}
.button {
    text-decoration: none;
    background: #2f323e;
    font-size: 1.5rem;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
    margin-top: 1.5em;
    border-radius: 10px;
    font-weight: bold;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 100ms ease;
    -o-transition: 100ms ease;
    transition: 100ms ease;
}
.button:hover {
    background: #3e4150;
}
.home-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}
.title-text {
   font-size: 3rem;
   color: #fff;
   font-weight: bold;
}
.description {
    font-size: 1.5em;
    color: #71768a;
    font-weight: bold;
    margin-top: .5em;
    width: 75%;
    word-spacing: -2px;
    text-align: justify;
}
.wr {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin: 10vw;
}
@media screen and (max-width: 740px) {
    body {
        margin: 0;
        display: inline-block;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        overflow-x: hidden;
        white-space: normal;
    }
    .description {
        width: 30rem;
    }
}