/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200;900&display=swap');

* {
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}
body{
    background: #1c1f29;
}
.navbar {
    width: 100%;
    background: #1a1c24;
    font-size: 1.7rem;
    color: #fff;
    padding: .9rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.432) 0px 7px 29px 0px;
            box-shadow: rgba(0, 0, 0, 0.432) 0px 7px 29px 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.nav-links {
    color: #fff;
    text-decoration:none;
    font-weight: 500;
}
.nav-items li {
    list-style: none;
}
.nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.nav-links {
    margin-left: .6rem;
    margin-right: .6rem;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    text-shadow: 0 0 15px #041557d0;
}
.logo {
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
    margin-right: 0.7rem;
    font-size: 2.1rem;
    text-decoration: none;
    font-family: 'Tourney', cursive;
}
.logo:hover {
    font-family: 'Tourney', cursive;
    font-weight: 900;
    text-shadow: 0 0 25px #001d92;
}
.nav-links:hover {
    color: rgb(187, 187, 187);
}

.text-sect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 25vh;
}
.text-sect h1 {
    font-size: 4rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: bolder;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.textt {
    font-family: 'Source Code Pro', monospace;
    -webkit-transform: translateY(-4rem);
        -ms-transform: translateY(-4rem);
            transform: translateY(-4rem);
}
.textt::after {
    content: '';
    -webkit-animation: typewrite 8s infinite;
            animation: typewrite 8s infinite;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    font-family: 'Source Code Pro', monospace;
}
@-webkit-keyframes typewrite {
    25%{
        content:'I\'m a student';
    }
    50%{
        content:'I\'m 14 years old';
    }
    75%{
        content:'I\'m a developer';
    }
    100% {
        content:'I\'m FURY';
    }
}
@keyframes typewrite {
    25%{
        content:'I\'m a student';
    }
    50%{
        content:'I\'m 14 years old';
    }
    75%{
        content:'I\'m a developer';
    }
    100% {
        content:'I\'m FURY';
    }
}
.box {
    height: 350px;
    max-width: 600px;
    background: #232630;
    margin: 100px auto;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    -webkit-transition: -webkit-transform .392s ease;
    transition: -webkit-transform .392s ease;
    -o-transition: transform .392s ease;
    transition: transform .392s ease;
    transition: transform .392s ease, -webkit-transform .392s ease;
}
.box:hover {
    -webkit-box-shadow: 0 0 42px #2525258c,
      0 0 37.5px #2525258c;
            box-shadow: 0 0 42px #2525258c,
      0 0 37.5px #2525258c;
      text-shadow: 0 0 5px rgba(5, 7, 99, 0.507),
      0 0 5px rgba(5, 7, 99, 0.507),
      0 0 5px rgba(5, 7, 99, 0.507),
      0 0 5px rgba(5, 7, 99, 0.507);
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      color: #fff;
    cursor: crosshair;
}

@media screen and (max-width: 400px){
    body{
        overflow: auto;
        overflow-x: hidden;
        max-width: 100%;
    }
}
.project-title {
    text-align: center;
    font-size: 2.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 100%;
}
.image {
    height: 225px;
    width: 420px;
    float: left;
    margin: 2rem;
    margin-top: 3rem;
    border-radius: 13px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    fill: #1a1c2407;
}
.inner-text {
    font-size: 1.5rem;
    padding-right: 2rem;
    -webkit-transform: translateY(5rem);
        -ms-transform: translateY(5rem);
            transform: translateY(5rem);
}
.inner-text h1,
.inner-text p {
    text-decoration: none;
    text-align: end;
}
.inner-text h1 {
    margin-right: 3rem;
}
.inner-text h1 a,
.inner-text p a{
    text-decoration: none;
}
.image1 {
    height: 225px;
    width: 420px;
    margin: 2rem;
    float: right;
    border-radius: 13px;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    fill: #1a1c2407;
    margin-top: -3rem;
}
.inner-text1 {
    font-size: 1.5rem;
    padding-left: 2rem;
    margin-top: 18rem;
}
.inner-text1 h1,
.inner-text1 p {
    text-decoration: none;
    text-align: start;
}


.inner-text1 h1 a,
.inner-text1 p a{
    text-decoration: none;
}
@media screen and (max-width: 789px) {
    .inner-text h1,
    .inner-text p {
    text-decoration: none;
    text-align: center;
    padding-right: 0px;
    margin-right: 0;
    margin-left: 3rem;
}
}

.contact-title {
    text-align: center;
    font-size: 2.5rem;
}

.button {
    font-size: 1.4rem;
    text-decoration: none;
    background: #2f323e;
    padding: 1em;
    border-radius: .4rem;
    margin: 1.5rem auto;
    -webkit-transition: 0.4838s ease;
    -o-transition: 0.4838s ease;
    transition: 0.4838s ease;
    font-weight: 500;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateY(-7rem);
        -ms-transform: translateY(-7rem);
            transform: translateY(-7rem);
    margin-bottom: 2rem;
    display: block;
    width: 250px;
}
.button:hover {
    background: #3b3e49;
}
.footer {
    width: 100%;
    margin: 0;
    background: #1a1c24;
    padding: 1.3em;
}
.icon {
    text-decoration: none;
}
